/*Esta es la otra manera de importar una fuente*/
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Ubuntu:wght@300&display=swap');

body{
    background-color: #BB3434;
    color: white;
}

p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}

#header{
    background-color: #720000;
    margin: 35px;
    margin-bottom: 100px;
    padding: 5px;
    font-size: 36pt;
    border-style: groove;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
}

#header h1{
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;    
}

.cuerpo{
    color: black;
    background-color: #fffafc;
    margin: 25px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 30px;
    border-style: inset;
    border-color: #540D75;
}

.codigo{
    background-color: antiquewhite;
    color: black;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-prim{
    color: #720000;
}

.color-sec{
    color: #540D75
}

.arial{
    font-family: Arial, Helvetica, sans-serif;
}

.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tahoma{
    font-family: Tahoma, Geneva, sans-serif;
}

.trebuchet{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.times-new-roman{
    font-family: 'Times New Roman', Times, serif;
}

.georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.garamond{
    font-family: Garamond, serif;
}

.courier{
    font-family: 'Courier New', Courier, monospace;
}

.brush-script{
    font-family: "Brush Script MT", cursive;
}

.papyrus{
    font-family: Copperplate, Papyrus, fantasy;
}
